<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Evaluating News Article for Natural Language Processing</title>

    </head>
    <body>

        <header>
            <div class="logo_type">
                <img class="logos_nlp"
                src="/images/nlp.jpeg" alt="NLP" width="200" height="200">
            </div>
            <div class="nav_bar">
                
            </div>
        </header>

        <main>
            <h1>Enter the url of you're Choice</h1>
            <section>
                <form class="" onsubmit="return Client.handleSubmit(event)">
                    <input id="name" type="text" name="input" placeholder="Name">
                    <input type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
                </form>
            </section>

            <section>
                <strong>Form Results:</strong>
                <div id="score_tag"></div>
                <div id="agreement"></div>
                <div id="subjectivity"></div>
                <div id="confidence"></div>
                <div id="irony"></div> 
            </section>
        </main>

        <footer>
            <p>This is a footer</p>
        </footer>
        <script>
            // Check for service workers
            if ('serviceWorker' in navigator) {
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
        </script>
    </body>
</html>
